body {
  width: 100vw;
  overflow-x: hidden;
}
.myNewImg {
  height: 20px;
}
#myNewBtn {
  font-size: 16px;
}
#myNewBtn:hover{
  background-color: transparent;
  color: black;
}
.accordion.accordion-flush{
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-padding-x: 0rem;
}
.accordion-button.collapsed{
  color: hsl(0, 0%, 41%);
}
.accordion-button {
  gap: 1rem;
}
.accordion-button.collapsed::after , .accordion-button:not(.collapsed):after{
  
  width: 0.8rem;
  height: 0.8rem;
  background-size: contain;
}
#panel{
  display: flex;
  gap: 0.5rem;
  justify-content: stretch;
}
#offcanvasExample{
  width: 250px;
}
a{
  cursor: pointer;
}
#buttonThehover:focus , #buttonThehover1:focus ,#buttonThehover2:focus,#buttonThehover3:focus{
  border-color: transparent;
  box-shadow:   0 0 0 0rem rgba(0, 0, 0, 0);
}
#buttonThehover:not(.collapsed),#buttonThehover1:not(.collapsed),#buttonThehover2:not(.collapsed),#buttonThehover3:not(.collapsed) { 
  background-color: transparent;
}
#loginbtn,#loginbtn1{
  color: hsl(0, 0%, 41%);
}
#picous{
  font-size: 32px;
  text-align: center;
}
#hexus{
  text-align: center;
}
@media(min-width:450px){
  #hexus{
    font-size: 16px;
  }
  span{
    height: 60px; 
  }
}
@media(min-width:750px){
  #heroImg{
    content: url("../images/image-hero-desktop.png");
    background-size: cover;
    height:500px;
  }
}
@media(min-width:990px){
  #picous{
    font-size: 68px;
    text-align: left;
    width: 82% 
  }
  #hexus{
    text-align: left;
    width: 82%
  }
  #theBtnDiv{
    width: 82%;
  }
}
#toogg,#toogg1{
  background-color: transparent;
  border-color: transparent;
  color: hsl(0, 0%, 41%); 
}
